{# il2ks-template: templates/il2ks/aircraft/list.html v1 - copy this line along when you override #}
{% extends "il2ks/base.html" %}{% load i18n static il2ks %}{% comment %}
  Aircraft (FR-WEB-18): how many gun hits it takes to destroy each aircraft type. View: il2ks.web.views.aircraft.aircraft_list.
  Context: rows (AircraftRow: aircraft (GameObject), kills, average, by_ammo (AmmoHits: name, kills, average)), page_title.
  Only kills where all the damage came from one attacker are counted (as in the old il2_stats module); bombs and rockets
  are left out. Blocks of this page: content.
{% endcomment %}
{% block head %}<link rel="stylesheet" href="{% static 'il2ks/players.css' %}">{% endblock %}
{% block content %}
  <div class="page-head">
    <h1>{% translate "Aircraft" %}</h1>
    <p>{% translate "How many gun hits it takes to shoot down each aircraft type. Only kills where one attacker did all the damage are counted; bombs and rockets are left out." %}</p>
  </div>
  <div class="table-wrap">
    <table class="data-table aircraft-table">
      <thead>
        <tr>
          <th scope="col">{% translate "Aircraft" %}</th>
          <th scope="col" class="num">{% translate "Kills counted" %}</th>
          <th scope="col" class="num" title="{% translate 'Average number of gun hits that destroyed it' %}">{% translate "Hits to destroy" %}</th>
          <th scope="col">{% translate "By ammunition" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <tr>
            <td class="aircraft-table__name">{% aircraft_icon row.aircraft "aircraft-table__icon" %} {{ row.aircraft|object_name }}</td>
            <td class="num">{{ row.kills }}</td>
            <td class="num">{{ row.average }}</td>
            <td>
              {% if row.by_ammo %}
                <details class="more">
                  <summary>{% blocktranslate count n=row.by_ammo|length %}{{ n }} ammunition type{% plural %}{{ n }} ammunition types{% endblocktranslate %}</summary>
                  <table class="data-table data-table--compact">
                    <thead><tr><th scope="col">{% translate "Ammunition" %}</th><th scope="col" class="num">{% translate "Kills it hit in" %}</th><th scope="col" class="num">{% translate "Average hits" %}</th></tr></thead>
                    <tbody>
                      {% for ammo in row.by_ammo %}
                        <tr><td>{{ ammo.name }}</td><td class="num">{{ ammo.kills }}</td><td class="num">{{ ammo.average }}</td></tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </details>
              {% endif %}
            </td>
          </tr>
        {% empty %}
          {% empty_row 4 _("No aircraft was shot down by a single attacker yet.") %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
