{# il2ks-template: templates/admin/il2ks_db/tour/change_list.html v1.0 - copy this line along when you override #}
{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
  {% if can_start_tour %}
  <li>
    <form method="post" action="{% url 'admin:il2ks_db_tour_start' %}" style="display:inline">
      {% csrf_token %}
      <button type="submit" class="button"
              onclick="return confirm('{% translate "Close the current tour and start a new one now?" %}');">{% translate "Start a new tour now" %}</button>
    </form>
  </li>
  {% endif %}
  {{ block.super }}
{% endblock %}
