{# il2ks-template: templates/admin/il2ks_index.html v1 - copy this line along when you override #}
{% extends "admin/index.html" %}
{% load i18n %}
{% block content %}
<div id="content-main">
  {% if perms.il2ks_db.view_ingestrun %}
  <div class="module">
    <table>
      <caption>{% translate "Operations" %}</caption>
      <tr>
        <th scope="row"><a href="{% url 'admin:ingest-status' %}">{% translate "Ingestion status" %}</a></th>
        <td><a href="{% url 'admin:ingest-status' %}" class="viewlink">{% translate "View" %}</a></td>
      </tr>
    </table>
  </div>
  {% endif %}
  {% if perms.il2ks_db.change_sitesettings %}
  <div class="module">
    <table>
      <caption>{% translate "Site texts" %}</caption>
      <tr>
        <th scope="row"><a href="{% url 'admin:quips' %}">{% translate "Quips" %}</a></th>
        <td><a href="{% url 'admin:quips' %}" class="changelink">{% translate "Change" %}</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="{% url 'admin:achievements' %}">{% translate "Achievements" %}</a></th>
        <td><a href="{% url 'admin:achievements' %}" class="changelink">{% translate "Change" %}</a></td>
      </tr>
      <tr>
        <th scope="row"><a href="{% url 'admin:tours' %}">{% translate "Tours" %}</a></th>
        <td><a href="{% url 'admin:tours' %}" class="changelink">{% translate "Change" %}</a></td>
      </tr>
    </table>
  </div>
  {% endif %}
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}
