{# il2ks-template: templates/il2ks/players/detail_air_tiles.html v3 - copy this line along when you override #}
{% load i18n il2ks %}{% comment %}
  detail_air_tiles.html: the air-to-air headline tiles (air kills with K/D, assists on aircraft). Context: stats.
{% endcomment %}<div class="stat-tiles profile-tiles profile-tiles--part">
  {% blocktranslate with value=stats.kills_air|ratio:stats.deaths asvar sub_air %}K/D {{ value }}{% endblocktranslate %}
  {% stat_tile stats.kills_air|num _("Air kills") sub=sub_air icon="stat/air-kills" %}

  {% stat_tile stats.assists_air|num _("Assists") icon="stat/assists" %}

  {% if stats.accuracy_air_rounds %}
    {% blocktranslate with rounds=stats.accuracy_air_rounds|num asvar sub_accuracy %}{{ rounds }} rounds fired{% endblocktranslate %}
    {% stat_tile stats.accuracy_air_hits|accuracy:stats.accuracy_air_rounds _("Air accuracy") sub=sub_accuracy %}
  {% endif %}
</div>
