{# il2ks-template: templates/il2ks/players/detail_totals.html v2 - copy this line along when you override #}
{% load i18n il2ks %}{% comment %}
  detail_totals.html: the secondary all-time totals. Context: stats.
{% endcomment %}<dl class="kv">
  <dt>{% translate "Takeoffs" %}</dt><dd>{{ stats.takeoffs|num }}</dd>
  <dt>{% translate "Landings" %}</dt><dd>{{ stats.landings|num }}</dd>
  <dt>{% translate "Bailouts" %}</dt><dd>{{ stats.bailouts|num }}</dd>
  <dt>{% translate "Suspected early bailouts" %}</dt><dd>{{ stats.suspected_early_bailouts|num }}</dd>
  <dt>{% translate "Captures" %}</dt><dd>{{ stats.captures|num }}</dd>
  <dt>{% translate "Attack sorties" %}</dt><dd>{{ stats.attack_sorties|num }}</dd>
  <dt>{% translate "Time on target" %}</dt><dd>{{ stats.time_on_target_s|duration }}</dd>
  <dt>{% translate "Friendly kills" %}</dt><dd>{{ stats.friendly_kills|num }}</dd>
  <dt>{% translate "Friendly hits" %}</dt><dd>{{ stats.friendly_hits|num }}</dd>
</dl>
