{% load i18n il2ks %}{% comment %}
  detail_totals.html: the secondary all-time totals. Context: player.
{% endcomment %}<dl class="kv">
  <dt>{% translate "Takeoffs" %}</dt><dd>{{ player.takeoffs|num }}</dd>
  <dt>{% translate "Landings" %}</dt><dd>{{ player.landings|num }}</dd>
  <dt>{% translate "Bailouts" %}</dt><dd>{{ player.bailouts|num }}</dd>
  <dt>{% translate "Suspected early bailouts" %}</dt><dd>{{ player.suspected_early_bailouts|num }}</dd>
  <dt>{% translate "Captures" %}</dt><dd>{{ player.captures|num }}</dd>
  <dt>{% translate "Attack sorties" %}</dt><dd>{{ player.attack_sorties|num }}</dd>
  <dt>{% translate "Time on target" %}</dt><dd>{{ player.time_on_target_s|duration }}</dd>
  <dt>{% translate "Friendly kills" %}</dt><dd>{{ player.friendly_kills|num }}</dd>
  <dt>{% translate "Friendly hits" %}</dt><dd>{{ player.friendly_hits|num }}</dd>
</dl>
